In [1]:
import pandas as pd

In [6]:
df = pd.read_csv('Terrorism_data1.csv', low_memory=False)
df.head()

,iyear,imonth,country_txt,region_txt,provstate,city,latitude,longitude,summary,attacktype1_txt,weapsubtype1_txt,scite1,scite2,scite3,dates,info,date,day
0,1970,1,United States,North America,Illinois,Cairo,37.005105,-89.176269,1/1/1970: Unknown African American assailants ...,Armed Assault,Unknown Gun Type,"""Police Chief Quits,"" Washington Post, January...","""Cairo Police Chief Quits; Decries Local 'Mili...","Christopher Hewitt, ""Political Violence and Te...",1/1/1970,Unknown African American assailants fired sev...,1/1/1970,1
1,1970,1,United States,North America,Wisconsin,Madison,43.076592,-89.412488,"1/2/1970: Karl Armstrong, a member of the New ...",Facility/Infrastructure Attack,Molotov Cocktail/Petrol Bomb,"Tom Bates, ""Rads: The 1970 Bombing of the Army...","David Newman, Sandra Sutherland, and Jon Stewa...","The Wisconsin Cartographers' Guild, ""Wisconsin...",1/2/1970,"Karl Armstrong, a member of the New Years Gan...",1/2/1970,2
2,1970,1,United States,North America,Wisconsin,Madison,43.072950,-89.386694,"1/3/1970: Karl Armstrong, a member of the New ...",Facility/Infrastructure Attack,Gasoline or Alcohol,Committee on Government Operations United Stat...,"Tom Bates, ""Rads: The 1970 Bombing of the Army...","David Newman, Sandra Sutherland, and Jon Stewa...",1/3/1970,"Karl Armstrong, a member of the New Years Gan...",1/3/1970,3
3,1970,1,United States,North America,Puerto Rico,Rio Piedras,18.386932,-66.061127,1/9/1970: The Armed Commandos of Liberation c...,Facility/Infrastructure Attack,Arson/Fire,Committee on the Judiciary United States Sena...,"""No Evidence Of Arson Found In Barkers Fire,"" ...","""Toward People's War for Independence and Soci...",1/9/1970,The Armed Commandos of Liberation claimed cr...,1/9/1970,9
4,1970,1,United States,North America,New York,New York City,40.697132,-73.931351,1/12/1970: Unknown perpetrators threw a pipe b...,Bombing/Explosion,Pipe Bomb,"""Blast Damages Flatbush School,"" New York Time...","Linda Greenhouse, ""Madison School Puzzled By B...",Committee on Government Operations United Stat...,1/12/1970,Unknown perpetrators threw a pipe bomb into t...,1/12/1970,12

In [63]:
pd.options.mode.copy_on_write = True
place = df[['country_txt', 'region_txt', 'provstate','city']]
 
place['place_id'] = range(0, len(place))
place

,country_txt,region_txt,provstate,city,place_id
0,United States,North America,Illinois,Cairo,0
1,United States,North America,Wisconsin,Madison,1
2,United States,North America,Wisconsin,Madison,2
3,United States,North America,Puerto Rico,Rio Piedras,3
4,United States,North America,New York,New York City,4
...,...,...,...,...,...
41216,Somalia,Sub-Saharan Africa,Banaadir,Mogadishu,41216
41217,Philippines,Southeast Asia,Maguindanao,Limpogo,41217
41218,Philippines,Southeast Asia,Maguindanao,Shariff Aguak,41218
41219,Somalia,Sub-Saharan Africa,Middle Shebelle,Ceelka Geelow,41219
41220,Syria,Middle East & North Africa,Lattakia,Jableh,41220

In [81]:
calender = df[['iyear','imonth','country_txt','date', 'day']]
calender['calender_id'] = range(0, len(calender))
calender['place_id'] = range(0, len(calender))
calender

       iyear  imonth    country_txt        date day  calender_id  place_id
0       1970       1  United States    1/1/1970   1            0         0
1       1970       1  United States    1/2/1970   2            1         1
2       1970       1  United States    1/3/1970   3            2         2
3       1970       1  United States    1/9/1970   9            3         3
4       1970       1  United States   1/12/1970  12            4         4
...      ...     ...            ...         ...  ..          ...       ...
41216   2017      12        Somalia  12/31/2017  31        41216     41216
41217   2017      12    Philippines  12/31/2017  31        41217     41217
41218   2017      12    Philippines  12/31/2017  31        41218     41218
41219   2017      12        Somalia  12/31/2017  31        41219     41219
41220   2017      12          Syria  12/31/2017  31        41220     41220

[41221 rows x 7 columns]

In [92]:
n= pd.merge(place, calender, on='place_id')
n.groupby('region_txt')[['iyear']]